
/* ===== SECTION - CARDS ===== */
.post{
  box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
  border-radius: 8px;
  transition: 0.4s;
}
.post:hover{ transform: rotate(-5deg);}
.card .card-img-top{ max-width: 100%; }

.card .card-img-top:hover{
  opacity: 0.8;
  cursor: pointer;
}

.card-body .title a {
  text-decoration: none;
  color: #232323;
  font-size: 28px;
  font-family: 'nunito';
  font-weight: bold;
}

.card-body .title a:hover { color: dodgerblue; }

.card-body .resumen p {
  color: #555;
  margin-top: 20px;
  font-size: 17px;
  overflow-wrap: break-word;
  text-align: justify;
  max-width: 100ch;
}

.card-body .continue a {
  text-decoration: none;
  color: dodgerblue;
  font-size: 15px;
}
.card-body .continue a:hover {
  text-decoration: underline;
}
/*===== SECTION - TASKS =====*/

.sticky-tasks{
  position: -webkit-sticky;
  position: sticky;
  top: 65px;
}

.sticky-birthdays{
  position: -webkit-sticky;
  position: sticky;
  top: 350px;
}

.top{
  background: #4267B2;
  font-family: 'nunito';
  font-weight: 600;
}

.top #welcome{
  font-size: 30px;
  color: white;
}

.reloj{
  font-size: 37px; 
  margin-left: -20px;
  color: white;
}

.reloj ul li {
  display: inline;
  text-align: center;
}

.reloj ul #sec{ font-size: 18px;}

.tarea-body{position:relative;}

.task-completed{
  display: block;
  height: 27px;
  width: 54px;
  color: #fff;
  padding: 3px 0 0;
  font-weight: bold;
  font-family: 'nunito';
  margin: 0 auto;
  perspective: 50px;
  -webkit-perspective: 50px;
  -moz-perspective: 50px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
}
.task-yes{ background: #28a745;}
.task-no{ background: #dc3545; }

/*===== END SECTION - TASKS =====*/
