@font-face {
  font-family: "nunito";
  src: url("public/fonts/Nunito/Nunito-Regular.ttf");
}
@import "~toastr/toastr.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*===== BOOTSTRAP =====*/


/*=====  NAVBAR=====*/  
body{ font-family: 'nunito'; }
header{	background-color: #4267B2 }
.navbar{ height: 45px;}

.wrapper-drop {
  margin: auto;
  position: relative;
}

.wrapper-drop .ul-drop {
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: all 450ms;
}
.wrapper-drop:hover .ul-drop {
  opacity: 1;
  visibility: visible;
}

.ul-drop {
  position: absolute;
  padding: 4px 0;
  top: 42px;
  right: 1px;
  width: 110px;
  background-color: #fff;
  border-radius: 4px;
  border:none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  list-style-type: none;
}
.ul-drop:before {
  content: '';
  position: absolute;
  top: -12px;
  height: 12px;
  width: 100%;
  background-color: transparent;
}
.ul-drop:after {
  content: '';
  position: absolute;
  right: 6px;
  top: -16px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
.li-drop {
  padding: 5px 10px;
  color: #ccc;
  cursor: pointer;
  transition: all 100ms;
}
.li-drop:hover {  background-color: rgba(23, 23, 23, 0.2)}

.li-drop:first-of-type:after {
  content: '';
  position: absolute;
  right: 6px;
  top: -15px;
  height: 0;
  width: 0;
  z-index: 1;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  pointer-events: none;
}

/* ===== SERVICES - SECTION ===== */
.sticky-services{
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}
.section-services{
  width: 100%;
  height: auto;
  background-color: #fdfdfd;
  text-align: center;
  color: #33313b;
  font-weight: 700;
  padding: 2vh 2vh;
}

.service-box{
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom:10px;
  perspective:1000px;
  -webkit-perspective:1000px;
  height: 100px;
}
.service-icon{
  width: 100%;
  height: 100px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
}

.service-content{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 220px;
  padding: 20px;
  text-align: center;
  transition: all .5s ease;
  background-color: #4267B2;
  backface-visibility:hidden;
  transform-style: preserve-3d;
  -webkit-transform: translateY(110px) rotateX(-90deg);
  -moz-transform: translateY(110px) rotateX(-90deg);
  -ms-transform: translateY(110px) rotateX(-90deg);
  -o-transform: translateY(110px) rotateX(-90deg);
  transform: translateY(110px) rotateX(-90deg);
}
.service-box .service-icon .front-content{
  position: relative;
  margin: auto auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.service-box .service-icon .front-content h3 {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.service-box .service-content h3 {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  margin-bottom:10px;
  text-transform: uppercase;
}
.service-box .service-content p {
  font-size: 13px;
  color: #fff;
  margin:0;
}
.yellow{background-color: #ffc000;}
.sismeu{background-color: rgb(12, 12, 12);}
.red{background-color: #fff;}
.grey{background-color: #474747;}
.service-box:hover .service-icon{
  opacity: 0;
  -webkit-transform: translateY(-110px) rotateX(90deg);
  -moz-transform: translateY(-110px) rotateX(90deg);
  -ms-transform: translateY(-110px) rotateX(90deg);
  -o-transform: translateY(-110px) rotateX(90deg);
  transform: translateY(-110px) rotateX(90deg);
}
.service-box:hover .service-content {
  opacity: 1;
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.btn-service{
	background: #4267B2;
  color: #fff;
  font-weight: 600;
	box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
}
.btn-service:hover{ color: #fff; }

/* ===== FIN SERVICES - SECTION ===== */

/* =====  INICIO BUSCADOR  ===== */
#content {
  height: 50px;
  width: 350px;
  margin-left: 620px; 
  margin-top: 60px;  
  transform: translate(-50%, -50%);
}
#content2 {
  height: 50px;
  width: 350px;
  margin-left: 320px; 
  margin-top: 60px;  
  transform: translate(-50%, -50%);
}

.input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;
  background: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #4267B2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #4267B2;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 3px solid #4267B2;
  border-radius: 0;
  background: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

/* =====  FIN  BUSCADOR  ===== */

/* ===== SERVICES ALL===== */
.single-service{
  background: #4267B2;
	padding: 15px;
	transition: all .5s ease 0s;
	height: 300px;
	margin: 20px 0;
	 box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
  border-radius: 8px;
}

.single-service h3{
	color: #fff;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	top: 90px;
	transition: all 700ms cubic-bezier(0.65, -0.50, 0.255, 1.50) 0s;
}
.single-service:hover h3{
	color: #fff;
	top: 0;
	margin-bottom: 15px;
}

.single-service p{
	opacity: 0;
	transition: all 700ms cubic-bezier(0.65, -0.50, 0.255, 1.50) 0s;
}

.single-service:hover p{
	color: #fff;
	opacity: 1;
	transform: scale(1);
}

.icon{
	position: relative;
	text-align: center;
	top: 50px;
	transition: all .4s ease 0s;
	width: 60px;
	background: #fff;
	border-radius: 50px;
	display: inline-block;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 0;
}
.single-service:hover .icon{ top: -10px;}
/* =====  FIN  SERVICES  ===== */

/* =====  INICIO  TASKS  ===== */
.input-div{
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;    
}

.input-div:after, .input-div:before{
  content: '';
  position: absolute;
  bottom: -1px;
  width: 0;
  height: 2.5px;
  background-color: #4285F4; 
  transition: .3s;
}

.input-div.focus div h5{
  color: #4285F4; 
}

.input-div.focus div h5{
  top: -5px;
  font-size: 15px;
}
.input-div:after{ right: 50%; }
.input-div:before{ left: 50%; }

.input-div.focus div h5:after, .input-div.focus div h5:before {
  background-color: #4285F4; 
  transition: .3s;
}

.input-div.focus:after, .input-div.focus:before{ width: 50%; }
.input-div.one{ margin-top: 0; margin-top: 50px;}
.input-div.two{ margin-bottom: 4px;}

.i{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div > div{
  position: relative;
  height: 45px;
}

.input-div > div h5{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 18px;
  transition: .3s;
}

.inputModal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: #555;      
}

/* =====  FIN  TASKS  ===== */

/*=====  SCROLLUP  ======*/
.scrollUp{
  display: none;
  position: fixed;
  height: 30px;
  outline: none;
  cursor: pointer;  
  border-radius: 50px;
  padding: 10px;
  right: 10px;
  bottom: 10px;
  background: #4267B2;   
}

.scrollUp .scrollUp-text{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -10px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  width: 0;
  transition: 0.4s;
}

.scrollUp .scrollIcon{
  float: right;
  width: 30px;
  margin-top: -10px;
  font-size: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
}

.scrollUp:hover > .scrollUp-text{
  width: 80px;
  padding: 0 6px;
}

.scrollUp:hover > .scrollIcon{
  background: #E84B3A;
  margin-left: 25px;
}

.circle{
    width:150px;
    height:150px;
    border-radius:100%;
    border-right:3px solid #4267B2;
    border-left:3px solid #4267B2;
    border-top:3px solid #4267B2;
    border-bottom:3px solid #4267B2;  
    margin-bottom: 20px;
}

.name-profile{
  text-transform: uppercase;
  font-size: 50px;
}

.name-profile strong, .name-profile a{
  font-size: 18px;
  color: #4267b2;
}