@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*===== BOOTSTRAP =====*/


/*=====  NAVBAR=====*/  
body{ font-family: 'nunito'; }
header{	background-color: #4267B2 }
.navbar{ height: 45px;}

.wrapper-drop {
  margin: auto;
  position: relative;
}

.wrapper-drop .ul-drop {
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: all 450ms;
}
.wrapper-drop:hover .ul-drop {
  opacity: 1;
  visibility: visible;
}

.ul-drop {
  position: absolute;
  padding: 4px 0;
  top: 42px;
  right: 1px;
  width: 110px;
  background-color: #fff;
  border-radius: 4px;
  border:none;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  list-style-type: none;
}
.ul-drop:before {
  content: '';
  position: absolute;
  top: -12px;
  height: 12px;
  width: 100%;
  background-color: transparent;
}
.ul-drop:after {
  content: '';
  position: absolute;
  right: 6px;
  top: -16px;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
.li-drop {
  padding: 5px 10px;
  color: #ccc;
  cursor: pointer;
  transition: all 100ms;
}
.li-drop:hover {  background-color: #4267B2}

.li-drop:first-of-type:after {
  content: '';
  position: absolute;
  right: 6px;
  top: -15px;
  height: 0;
  width: 0;
  z-index: 1;
  border: 8px solid transparent;
  border-bottom-color: #fff;
  pointer-events: none;
}

/* ===== SERVICES - SECTION ===== */
.sticky-services{
  position: -webkit-sticky;
  position: sticky;
  top: 55px;
}
.section-services{
  width: 100%;
  height: auto;
  background-color: #fdfdfd;
  text-align: center;
  color: #33313b;
  font-weight: 700;
  padding: 2vh 2vh;
}

.services{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
  border-radius: 8px;
}

.services .image{
  flex: 40%;
  overflow: hidden;
  cursor: pointer;
}

.services .image img{
  width: 100%;
  height: 100%;
  transition: 0.4s;
}

.services .image:hover img{
  transform: scale(1.4) rotate(15deg);
}

.btn-service{
	background: #4267B2;
  color: #fff;
  font-weight: 600;
	box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
}
.btn-service:hover{ color: #fff; }

/* ===== FIN SERVICES - SECTION ===== */

/* ===== SECTION - TAREAS ===== */

.content-bottom{
  margin-top: 15px;
  width: 100%;
  height: 230px;
  border-top: 1px solid #eaeaea;
  background-color: #fcfcfc;
}

.content-bottom ul{
  display: block;
  position: relative;
  list-style-type: none;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.content-bottom ul li{
  position:relative;
  list-style: none;
  border-bottom: 1px solid #eaeaea;
  background-color: trasparent;
  height: 55px;
  margin-top: 20px;
}

.content-bottom ul > li:first-child{ margin-top: 20px;}

.content-bottom ul > li:last-child{ border: none;}

.content-bottom li span{
  font-size: 32px;
  margin-left: 25px;
  margin-right: 10px;
}

.text{
  position: absolute;
  top: 40%;
  left: 17%;
}

.title-tarea{
  position: absolute;
  top: 8%;
  left: 17%;
  font-size: 18px;
}

#title1{ position: absolute;}


/*BUSCADOR*/
#content {
  height: 50px;
  width: 350px;
  margin-left: 620px; 
  margin-top: 60px;  
  transform: translate(-50%, -50%);
}
#content2 {
  height: 50px;
  width: 350px;
  margin-left: 320px; 
  margin-top: 60px;  
  transform: translate(-50%, -50%);
}


.input {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 3px solid #000;
  border-radius: 50%;
  background: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #4267B2;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #4267B2;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 3px solid #4267B2;
  border-radius: 0;
  background: none;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.single-service{
	background: #4267B2;
	padding: 15px;
	transition: all .5s ease 0s;
	height: 300px;
	margin: 20px 0;
	 box-shadow: 0px 4px 8px 0px rgba(23, 23, 23, 0.2);
  border-radius: 8px;
}

.single-service h3{
	color: #fff;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	top: 90px;
	transition: all 700ms cubic-bezier(0.65, -0.50, 0.255, 1.50) 0s;
}
.single-service:hover h3{
	color: #fff;
	top: 0;
	margin-bottom: 15px;
}

.single-service p{
	opacity: 0;
	transition: all 700ms cubic-bezier(0.65, -0.50, 0.255, 1.50) 0s;
}

.single-service:hover p{
	color: #fff;
	opacity: 1;
	transform: scale(1);
}

.icon{
	position: relative;
	text-align: center;
	top: 50px;
	transition: all .4s ease 0s;
	width: 60px;
	background: #fff;
	border-radius: 50px;
	display: inline-block;
	font-size: 24px;
	height: 60px;
	line-height: 60px;
	margin-bottom: 0;
}

.single-service:hover .icon{ top: -10px;}